@import url(home/avisos.css);

.conteudo-main {
    margin-top: 15px;
}

.icon_usuario {
    display: block;
    background-color: white;
    border-radius: 50%;
    margin: 20px auto;

    width: 125px;
    height: 125px;
}

.nome_usuario {
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.pedido {
    background-color: rgba(211, 211, 211, 0.5);
}

hr {
    margin: 0;
}

.pedido-textos {
    margin-left: 15px;
}

.tag {
    background-color: #106cfc;
    color: white;
    
    padding: 5px 10px;
    border-radius: 5px;
}

.aviso {
    background-color: rgba(211, 211, 211, 0.5);
}