body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

.cadastroEtapaView {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin: 15px 0;
}

.etapa {
    border: 5px solid black;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.etapaAtual {
    background-color: #50c404;
}

.loginCadastro {
    width: 500px;
    background-color: #D9D9D9;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 15px;
} 

.loginCadastroForm {
    width: 90%;
}

.LoginCadastroBtn {
    display: block;
    margin: 0 auto;
    width: 100px;
}

.loginCadastroRegistrar {
    margin: 15px 0;
}

/* Específico */

.btnsCadastro {
    display: flex;
    margin-bottom: 20px;
}

.cadastroInvisivel {
    visibility: hidden;
    max-height: 0;
}

.addTitulacao {
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-bottom: 15px;
}

.titulacoes {
    display: block;
    margin: 0 auto;
    padding: 5px;

    border-radius: 15px;

    background-color: white;
    min-height: 100px;
    width: 100%;
}

.titulacoes-item {
    list-style-type: none;
    background-color: #404c7c;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    border-radius: 15px;

    padding: 15px;
    margin: 10px;
}

.titulacoes-item h3 {
    font-size: 1rem;
    flex-basis: 90%;
    margin: 0;
}

.titulacoes-item button {
    flex-basis: 8%;
    align-self: flex-start;
}

.titulacoes-item-instituicao{
    flex-basis: 100%;
    margin: 0.5rem 0;
}